<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <application android:label="TO DO Garden" android:icon="@drawable/ic_garden"
        android:theme="@style/Theme.TodoGarden" android:allowBackup="true" android:supportsRtl="true">
        <activity android:name=".integration.GardenActivity" android:exported="false"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
